/* Start Bootstrap */
#avatar { width: 9rem; }

#startBootstrap span { 
    font-size: 0.9rem; 
    font-weight: 500;
}

/* Contact */
#sendBtn { color: white; }

/* Footer */
.socialBtn { 
    border: 1px solid white;
    border-radius: 50%;
    padding: 1rem;
    width: 2.7rem;
    font-size: 0.7em;
}

/************* GENERICS *************/
.star_line {
    width: 6rem;
    height: 0.1rem;
}

textarea { width: 100%; }

/************* HOVER *************/
#download_btn:hover { color: #1ABC9C !important}
.socialBtn:hover { 
    background-color: white;
    color: #3A546D !important;
}
#sendBtn:hover {
    color: #1ABC9C;
    background-color: white;
    border: 2px solid #1ABC9C;
}

/************* FONT-SIZE *************/
.fs_07 { font-size: 0.7rem; }


/************* TEXT-COLOR *************/
.text_darkblue { color: #2C3E50; }
.text_aqua { color: #1ABC9C; }

/************* BG-COLOR *************/
.bg_darkblue { background-color: #2C3E50; }
.bg_aqua { background-color: #1ABC9C; }
.bg_footer1 { background-color: #3A546D; }



