.debug { height: 20rem; }

#avatar { width: 9rem; }

.white_line {
    width: 7rem;
    height: 0.1rem;
}

/************* HOVER *************/
#download_btn:hover { color: #1ABC9C !important}
#social:hover i { color: #3A546D !important }

/************* FONT-SIZE *************/
.fs_07 { font-size: 0.7rem; }


/************* TEXT-COLOR *************/
.text_darkblue { color: #2C3E50; }
.text_aqua { color: #1ABC9C; }

/************* BG-COLOR *************/
.bg_darkblue { background-color: #2C3E50; }
.bg_aqua { background-color: #1ABC9C; }
.bg_footer1 { background-color: #3A546D; }



